*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 80px;
    background-color: #0f172a;
    color: white;
}
header nav .icon{
    position: relative;
    cursor: pointer;
}
header nav .icon span{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.cart-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 10px;
    gap:20px;
    background-color: #f3f4f6;
    width: 100%;
}
.cart-main .card{
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart-main .card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    box-shadow: #ccc;
} 